<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.jdotc.Obsidian</string>
	<key>connections</key>
	<dict>
		<key>11774E9F-F165-402E-B18C-008D47D22A17</key>
		<array/>
		<key>1639C920-9994-4CDB-A558-C7CF40415B9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1E8F5E-23FA-421A-9E9C-FBA102AEA149</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21DC6B21-1E2B-4D57-95AD-D39F6AD02961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A06F265A-2387-40E6-B550-6CE446C56912</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42ECFDBC-9687-46B3-A74C-99AC5013880B</key>
		<array/>
		<key>4A1E8F5E-23FA-421A-9E9C-FBA102AEA149</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42ECFDBC-9687-46B3-A74C-99AC5013880B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>698276C9-BCC5-4896-948A-3C092997CAA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>698276C9-BCC5-4896-948A-3C092997CAA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF20F428-B1C1-4A97-8E71-C6083AF5479D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94C4133B-B42F-45D5-B767-BC6812E948A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF20F428-B1C1-4A97-8E71-C6083AF5479D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A06F265A-2387-40E6-B550-6CE446C56912</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94C4133B-B42F-45D5-B767-BC6812E948A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42ECFDBC-9687-46B3-A74C-99AC5013880B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF20F428-B1C1-4A97-8E71-C6083AF5479D</key>
		<array/>
		<key>C21331EE-7144-4CEB-9FB9-8B78E095EEC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF20F428-B1C1-4A97-8E71-C6083AF5479D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA1879EE-14FE-44A5-A724-4C3F17633C49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEFCDE94-22D1-4FFD-9504-9A7373B2903A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEFCDE94-22D1-4FFD-9504-9A7373B2903A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11774E9F-F165-402E-B18C-008D47D22A17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>674E09FE-428F-4922-A8C3-BF20BD94999C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C21331EE-7144-4CEB-9FB9-8B78E095EEC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42ECFDBC-9687-46B3-A74C-99AC5013880B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>John Christopher</string>
	<key>description</key>
	<string>Alfred Workflow to go with the Obsidian Alfred plugin</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Obsidian-Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>oba</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>#Arbol &lt;data to capture&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA1879EE-14FE-44A5-A724-4C3F17633C49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>obsidian://obsidian-alfred?vault=Personal&amp;header=Arbol&amp;data={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.joinargs</string>
			<key>uid</key>
			<string>11774E9F-F165-402E-B18C-008D47D22A17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.joinargs</string>
			<key>uid</key>
			<string>674E09FE-428F-4922-A8C3-BF20BD94999C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>header</key>
					<string>Arbol</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C21331EE-7144-4CEB-9FB9-8B78E095EEC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(.*)+</string>
						<key>outputlabel</key>
						<string>Send to Obsidian</string>
						<key>uid</key>
						<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Debug</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DEFCDE94-22D1-4FFD-9504-9A7373B2903A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://obsidian-alfred?vault=Personal&amp;header={var:header}&amp;data={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF20F428-B1C1-4A97-8E71-C6083AF5479D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>obd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>#Daily Log &lt;data to capture&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21DC6B21-1E2B-4D57-95AD-D39F6AD02961</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>header</key>
					<string>Daily Log</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>94C4133B-B42F-45D5-B767-BC6812E948A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(.*)+</string>
						<key>outputlabel</key>
						<string>Send to Obsidian</string>
						<key>uid</key>
						<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Debug</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A06F265A-2387-40E6-B550-6CE446C56912</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>42ECFDBC-9687-46B3-A74C-99AC5013880B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>header</key>
					<string>Journal</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>698276C9-BCC5-4896-948A-3C092997CAA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>obj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>#Journal &lt;data to capture&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1639C920-9994-4CDB-A558-C7CF40415B9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(.*)+</string>
						<key>outputlabel</key>
						<string>Send to Obsidian</string>
						<key>uid</key>
						<string>00D1D04F-C789-40E4-9055-D5CAB01CAB63</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Debug</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4A1E8F5E-23FA-421A-9E9C-FBA102AEA149</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11774E9F-F165-402E-B18C-008D47D22A17</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>1639C920-9994-4CDB-A558-C7CF40415B9B</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>895</real>
		</dict>
		<key>21DC6B21-1E2B-4D57-95AD-D39F6AD02961</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>42ECFDBC-9687-46B3-A74C-99AC5013880B</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>4A1E8F5E-23FA-421A-9E9C-FBA102AEA149</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>674E09FE-428F-4922-A8C3-BF20BD94999C</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>698276C9-BCC5-4896-948A-3C092997CAA5</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>94C4133B-B42F-45D5-B767-BC6812E948A5</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>A06F265A-2387-40E6-B550-6CE446C56912</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>BF20F428-B1C1-4A97-8E71-C6083AF5479D</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C21331EE-7144-4CEB-9FB9-8B78E095EEC0</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>DA1879EE-14FE-44A5-A724-4C3F17633C49</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>DEFCDE94-22D1-4FFD-9504-9A7373B2903A</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://jdotc.xyz/projects</string>
</dict>
</plist>
